/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #f0a7dd;
    border-radius: 20px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d10e9d;
}
