.avatar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 10px;
}
.input-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.profile-page {
    background-color: #fbcfe8; /* Soft pink background */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}


.profile-container {
    background: rgba(249, 168, 212, 1); /* Transparent futuristic effect */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Glass-like border */
    backdrop-filter: blur(10px); /* Glassmorphism */
    border-radius: 20px; /* Rounded corners */
    padding: 2rem;
    width: 50%; /* Adjust width for larger screens */
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3); /* Subtle glow effect */
    text-align: center;
}
h2 {
    font-family: "Comfortaa", sans-serif;
    color: #2a2929;
    margin-bottom: 1.5rem;
}

.avatar-container {
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




.avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.6); /* Glow effect */
    transition: transform 0.3s ease;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.profile-form label {
    font-family: "Comfortaa", sans-serif;
    color: #2a2929;
    margin-bottom: 0.25rem;
}

.profile-form input {
    padding: 0.5rem;
    border: 1px solid #2a2929;
    border-radius: 8px;
    width: 80%;
    font-family: "Comfortaa", sans-serif;
}

.irregular-options {
    display: flex;
    gap: 1rem;
}

.save-button,
.edit-button {
    background-color: #ec4899;
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Comfortaa", sans-serif;
}

.save-button:hover,
.edit-button:hover {
    background-color: #db2777;
}

.save-button:disabled,
.edit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
