/* Custom transition for Navbar */
.navbar-transition {
    transition: background-color 0.5s ease-in-out;
}

/* Custom transition for menu items */
.menu-item-transition:hover {
    transition: background-color 0.5s ease-in-out;
}

/* Initial state of the menu: hidden off-screen */
.menu-transform {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

/* When the menu is open, it slides into view */
.menu-transform.open {
    transform: translateY(0);
}

/* Initial state of the list items */
.menu-item {
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}

.menu-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f3b5d5; /* Use your desired hover background color */
    transition: width 0.5s ease-in-out;
    z-index: -1;
}

.menu-item:hover::after {
    width: 100%;
}

.menu-item li {
    position: relative;
    z-index: 1;
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.navbar-hide {
    animation: slideUp 0.5s forwards;
}
.navbar {
    position: relative; /* Ensure the navbar is positioned relative */
    height: 56px; /* Fixed height */
}

.dropdown-content {
    position: absolute; /* Position dropdowns absolutely within the navbar */
    width: 100%; /* Match the width of the navbar */
    top: 56px; /* Position just below the navbar */
    left: 0;
    display: none; /* Start with dropdowns hidden */
}

.navbar.expanded .dropdown-content {
    display: block; /* Display dropdowns when navbar is expanded */
}
.modal-shape {
    clip-path: polygon(
        0px calc(100% - 22px),
        0px 0,
        100% 0,
        100% calc(100% - 22px),
        calc(100% - 22px) 100%,
        22px 100%
    );
}
